@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@500;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    color: #0a2ff1;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: 78px;
    font-weight: 700;
}

span {
    background-color: #3ffff3;
}

p {
    font-size: 30px;
    font-weight: 500;
}

img {
    background-image: url(../imagenes/fondo.JPG);
    width: 400px;
}